@media screen and (max-width:576px) {
    .banner-part {
        height: 280px;
    }

    .card-sec {
        flex-direction: column;
    }

    .call-history {
        width: auto;
    }

    .wight-l {
        width: 97%;
        padding: 3%;
    }

    .trans-class {
        width: 98%;
    }
}